/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
body {
  background-color: rgb(16, 92, 16);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}